
@model DirectToEmployer.Models.Jobseeker

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJobseeker.cshtml";
}

<h2>Index</h2>

@* add new interview *@

@Html.ActionLink("Prepare for a new interview", "Create", "Interview")

