@{ 
        Layout = "~/Views/Shared/_LayoutJobseeker.cshtml";
}
<div>
    <h4>Your application has been submitted. You will recieve an email with further direction from the job postings company.</h4>
</div>
