@model DirectToEmployer.Models.Checklist

@* understand viewbag better *@
@*@{
    ViewBag.Title = "CompanyResearchTips";
}*@

<div>
    <h4>Company Research Tips:</h4>

    @Html.HiddenFor(model => model.InterviewId)
    @Html.HiddenFor(model => model.ChecklistId)

    <p>@Html.ActionLink("Back to checklist", "Details", "Interview")</p>
</div>

