@model DirectToEmployer.Models.Checklist

@{
    ViewBag.Title = "CompanyResearchTips";
}

    <div>
        <h4>Company Research Tips:</h4>

        @Html.HiddenFor(model => model.InterviewId)
        @Html.HiddenFor(model => model.ChecklistId)

        @*<p>@Html.ActionLink("Back to checklist", "InterviewChecklist", "Interview", new { id = Model.InterviewId }, null)</p>*@
        <a href="@Url.Action("InterviewChecklist", "Interview", new { id = Model.InterviewId }, null)" class="btn btn-warning">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
        </a>
    </div>

