@model DirectToEmployer.Models.Checklist

@{ 
    ViewBag.Title = "InterviewFollowUpTips";
    Layout = "~/Views/Shared/_LayoutJobseeker.cshtml";
}
<div>
    <h4>Interview Follow Up Tips:</h4>

    @Html.HiddenFor(model => model.InterviewId)
    @Html.HiddenFor(model => model.ChecklistId)

    <p>@Html.ActionLink("Back to checklist", "InterviewChecklist", "Interview", new { id = Model.InterviewId }, null)</p>
</div>

