@model DirectToEmployer.Models.Checklist
@Html.HiddenFor(model => model.InterviewId)
@Html.HiddenFor(model => model.ChecklistId)

@{
    ViewBag.Title = "InterviewFollowUpTips";
    Layout = "~/Views/Shared/_LayoutJobseeker.cshtml";
}
    <div>
        <h4>Tips for following up after your interview</h4>
        <p>
            A simple thank you in the form of an email to the HR rep to thank the company for their time and for the opportunity can go a long way. 
        </p>

        <div>
            <a href="@Url.Action("InterviewChecklist", "Interview", new { id = Model.InterviewId }, null)" class="btn btn-warning">
                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
            </a>
        </div>
    </div>

