@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-4" style="margin-top: 25px">
            <h3>@Html.ActionLink("I am a Jobseeker", "Register", "Account")</h3>
            <container id="morningCoffee"><img src="~/Images/left-chair.jpg" class="img-responsive" /><br /></container>

        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h1>Direct To Employer</h1>
                <h4>There is nothing holding you back from getting directly connected to an employer or future employee</h4>
            </div>
        </div>


        <div class="col-md-4" style="margin-top: 25px">
            <h3>@Html.ActionLink("I am an Employer", "Register", "Account")</h3>
            <container id="morningCoffee"><img src="~/Images/steve-halama-NPKk_3ZK2DY-unsplash.jpg" class="img-responsive" /><br /></container>

        </div>
    </div>
