@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}
    <h2>@ViewBag.Title</h2>

    <div>
        <p>
            Direct To Employer is an application created to bring ease to the job seeking and hiring market. Like the business jargon “direct to consumer”, Direct To Employer cuts out the middle-man, bringing employee prospects right to their future employers.
            <br /><br />
            Created by Amelia Szymanek.
        </p>
    </div>