@{
    ViewBag.Title = "ApplicationHome";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

    <div class="jumbotron">
        <h1>Direct To Employer</h1>
        <h4>There is nothing holding you back from getting directly connected to a future employee</h4>
    </div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Info
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            Info
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            Info
        </p>
    </div>
</div>*@

